<div class="flex-grid flex-grid--flexcells flex-grid--gutters md-flex-grid--1of2">
	<div class="flex-grid-cell">
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas faucibus mollis interdum.</p>
	</div>
</div>

<div class="flex-grid flex-grid--flexcells flex-grid--gutters lg-flex-grid--1of4">
	<div class="flex-grid-cell">
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas faucibus mollis interdum.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas faucibus mollis interdum.</p>
	</div>
</div>

<div class="flex-grid flex-grid--flexcells flex-grid--gutters lg-flex-grid--1of3">
	<div class="flex-grid-cell">
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas faucibus mollis interdum.</p>
	</div>
	<div class="flex-grid-cell">
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	</div>
</div>