// Colors
$blue:           #1B789F;
$blue-dark:      #135875;
$text-color:     #000;
// TODO: change to $color-[name] for colors to make easier to search
// Consider changing to standardize variable names for colors in elements
// $text-color:            $black;
// $focus-color: $peacock-blue;
// $link-color: $twilight-blue;
// $link-color-hover: $dusk-blue;
// $button-color: $peacock-blue;
// $button-active-color: $green;
// $soc-link-color: $dusk-blue;
// $soc-link-active-color: $green;

// Sizes
$gutter-sm: 15px;
$gutter: 30px;

$vert-space-sm: 20px;
$vert-space-md: 30px;

$button-height: 48px;
$button-sm-height: 38px;
$transition-short: 150ms;
$transition-long: 450ms;

$third: 33.3333%;
$two-third: 66.6666%;

// Text
$font-main: 'Open Sans', sans-serif; // Weights to use: QQQ
$font-secondary: 'Open Sans', sans-serif; // Weights to use: QQQ

$text-margin: 20px;

$ts-body: 1.6rem;
$text-lh: 1.6;
$text-lh-sm: 1.4;

$ts-h1: 3.1rem;
$ts-h2: 2.5rem;
$ts-h3: 2.3rem;
$ts-h4: 2.1rem;
$ts-h5: 1.9rem;
$ts-h6: 1.7rem;

// Breakpoints
$max-width:   1300px;

$break-sm:    600px;
$break-md:    840px;
$break-lg:    980px;
$break-xxl:   1200px;
